
    {% extends 'core/base.html' %}
{% block content %}
<div class="container">
<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="row" colspan="3" class="text-center">CARRITO</th>
        </tr>
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">CANTIDAD</th>
          <th scope="col">PRECIO</th>
        </tr>
      </thead>
      <tbody>
      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
        <tr>
          <td>{{value.nombre}}</td>
          <td>{{value.cantidad}}
            
          </td>
          <td>{{value.acumulado}}</td>
        </tr>
      {% endfor %}
      {% else %}
      <tr>
          <td colspan="3">
              <div class="alert alert-danger text-center"> Sin Productos </div>
          </td>
      </tr>
      {% endif %}
        <tr>
          <th scope="row">Total:</th>
          <th></th>
          <td colspan="2">$ {{total_carrito}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    </div>
    <div class="row text-center">
        <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
        <div class="col-6"><a href="{% url 'tokitchen' %}" class="btn btn-success" method="post">Pasar a Cocina</a></div>
    </div>
    <div class="container d-flex center mt-4">
      <label for="coment">Comentarios: </label>
      <textarea name="coment" id="coment" cols="50" rows="5"></textarea>
    </div>
{% endblock content %}


</div>