{% extends 'core/base.html' %}
{% block content %}
hi world
<div class="container">
    <h4>Bowls</h4>
    {{bf}}
</div>
<div class="container">
    <h4>Desayunos</h4>
    {{dsyn}}
</div>
<div class="container">
    <h4>Almuerzos</h4>
    {{almrz}}
</div>
<div class="container">
    <h4>Handroll</h4>
    {{hr}}
</div>
<div class="container">
    <h4>Handroll Clasicos</h4>
    {{hrcls}}
</div>
<div class="container">
    <h4>Kai</h4>
    {{kai}}
</div>
<div class="container">
    <h4>Selladitas</h4>
    {{sll}}
</div>
{% endblock content %}

